@import "../api";

.footer {
    padding: pr(32) 0;
    background: #002062;
    color: white;
    h4 {
        font-size: pr(16);
        font-weight: 700;
        text-transform: uppercase;
        color: #00A7AE;
    }
    .widget {
        display: block;
        .list {
            padding-right: pr(32);
            li {
                position: relative;
                display: block;
                margin-top: pr(16);
                padding-left: pr(24);
            }
            i {
                display: block;
                position: absolute;
                font-size: pr(18);
                color: #00A7AE;
                margin-left: pr( -24 )
            }
            p {
                margin: 0;
                font-size: pr(14);
            }
        }
        .social {
            text-align: center;
            li {
                display: inline-block;
                a {
                    width: pr(40);
                    height: pr(40);
                    display: block;
                    background: #00A7AE;
                    border-radius: 50%;
                    margin: 0 pr(4);
                    text-align: center;
                }
                i {
                    font-size: pr(24);
                    line-height: pr(40);
                    color: #002062;
                }
            }
        }
        h5 {
            color: #00A7AE;
            display: block;
            margin-top: pr(24);
            text-align: center;
            font-size: pr(18);
        }
    }
    .sitemap {
        display: block;
        text-align: center;
        li {
            display: inline-block;
            a {
                font-size: pr(14);
                font-weight: 500;
                display: block;
                padding: pr(8) pr(24);
                color: #00A7AE;
                &:hover {
                    color: white;
                }
            }
        }
    }
}
@media all and ( min-width : $w_sm ) {
    .footer {
        .widget {
            border-right: pr(3) solid #00A7AE;
            &.last {
                border-right: 0 none transparent;
            }
            .list {
                padding-right: pr(32);
            }
        }
        .sitemap {
            margin-top: pr(32);
            li {
                margin: 0 pr(8);
            }
        }
    }
  
}
@media all and ( max-width : ( $w_sm - 1 ) ) {
    .footer {
        padding-bottom: pr(80);
        .widget {
            margin-bottom: pr(20);
            border-bottom: pr(3) solid #00A7AE;
            &.last {
                border-bottom: 0 none transparent;
            }
            .list {
                padding-bottom: pr(16);
            }
            br {
                display: none;
            }
        }
        .sitemap {
            margin-top: pr(0);
            li {
                margin: 0;
            }
        }
    }
    
}