@import "../api";
@import "../variables";
.page-header {
	background: white;
	height: pr( 150 );
	z-index: 9;
	position: sticky;
	top: 0;
	.logo-link {
		img {
			display: inline-block;
		}
	}
	.add-event {
		width: auto;
		text-align: right;
		position: absolute;
		color: rgba($color: #212121, $alpha: 1);
		right: pr(24);
		top: pr(20);
		.title {
			font-size: pr(16);
		}
		.sub {
			font-size: pr(11);
		}
		&:hover {
			color: rgba($color: #000000, $alpha: 1.0);
		}
	}
}
@media all and ( min-width : $w_sm ) {
    .page-header {
		.logo-link {
			position: absolute;
			left: pr( 32 );
			top: pr(35);
			img {
				height: pr(80);
			}
		}
	}
}
@media all and ( max-width : ( $w_sm - 1 ) ) {
    .page-header {
		height: pr(64);
		text-align: center;
		.logo-link {
			display: inline-block;
			margin-top: pr(10);
			img {
				height: pr(44);
			}
		}
        .add-event {
            display: none;
		}
		.btn-menu {
			position: absolute;
			left: 0;
		}
    }
}