@import "../api";
.page-header {
	.menu {
		display: block;
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: 0 0 pr(20);
		.nav {
			border-top-left-radius: pr(25); 
			border-bottom-left-radius: pr(25); 
			background: $primary;
		}
		ul  {
			margin: 0;
			padding-left: pr(20);
			li {
				display: inline-block;
				color: $secondary;
				font-size: pr(14);
				font-weight: 500;
				a {
					color: inherit;
					display: block;
					padding: pr(12) pr(16);
					margin: 0;
					&:hover {
						color: white;
					}
				}
				&.active {
					a {
						color: white;
					}
				}
			}
		}
	}
}

@media all and ( min-width : $w_sm ) {
    
}
@media all and ( max-width : ($w_sm - 1) ) {
    .page-header {
        .menu {
            display: none;
        }
    }
}